body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main{
    width: 100%;
    height: 200vh;
    overflow: hidden;
    background-image: url(images/younin.png);   
}

.nav{
    width: 100%;
    height: 70px;
    display: flex;
}

.titl{
    display: flex;
    margin-left: 10px;
    border-radius: 20px;
}

.titl img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}

.navi{
    margin-left: 900px;
}

.log{
    background-color: white;
}

.log:hover{
    background-color: lightcyan;
}

.navi .Sign{
    background-color: white;
}

.navi .Sign:hover{
    background-color: whitesmoke;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 24px;
    margin-left: 10px;
}

.main-contan{
    width: 100%;
    height: 100vh;
    display: flex;
}

.main-contan h1{
    font-size: 80px;
}

.title{
    border: none;
}

.title small{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 20px;
    cursor: pointer;
}

.slide{
    width: 450px;
    height: 400px;
    margin-left: 350px;
    display:inline-table;
    margin-top: 50px;
}

.slide img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-right: 10px;
}

.one{
    margin-left: 20px;
    transition: ease-in-out 3s;
}

.one:hover{
    transform: translateY(10px);
}

.two{
    cursor: pointer;
    transition: ease-in-out 3s;
}

.two:hover{
    transform: translateY(10px);
}

.three{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    transition: ease-in-out 3s;
}

.three:hover{
    transform: translateY(10px);
}

.four{
    transition: ease-in-out 3s;
}

.four:hover{
    transform: translateY(10px);
}

#alchemize{
    margin-left:-1200px;
}


#container {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#content{
    width: 100%;
    display: flex;
}

#colorDisplay1{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    box-shadow: 0.5px 2px 0.5px 0.5px black;
}

#colorDisplay2{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    box-shadow: 0.5px 2px 0.5px 0.5px black;
}

#colorDisplay3{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    box-shadow: 0.5px 2px 0.5px 0.5px black;
}

#colorDisplay4{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    box-shadow: 0.5px 2px 0.5px 0.5px black;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px crimson;
}

button:hover {
    background-color: lightskyblue;
}

.colorDisplay {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
